"scopeName": "source.mcfunction"
"name": "MCFunction"
"fileTypes": ["mcfunction"]
"patterns": [
  {
    "match": "(([-~]?([0-9]+\\.?[0-9]*)|(\\.[0-9]+))|~)"
    "name": "constant.numeric.mcfunction"
  }
  {
    "match": "(@[apres])(?:(\\[)((?:[\\w|_]+=(?:!)?(?:\\w|[0-9])*(?:,|, )?)+)(\\]))*"
    "captures":
      "1":
        "name": "entity.name.tag.mcfunction"
      "2":
        "name": "punctuation.definition.string.begin.mcfunction"
      "3":
        "name": "keyword.operator.mcfunction"
      "4":
        "name": "punctuation.definition.string.end.mcfunction"
    "name": "meta.function.mcfunction"
  }
  {
    "match": "(?:^|\n|\r\n)\/"
    "name": "invalid.illegal.mcfunction"
  }
  {
    "begin": "#"
    "beginCaptures":
      "1":
        "name": "punctuation.definition.comment.mcfunction"
    "end": "\\n"
    "name": "comment.line.number-sign.mcfunction"
  }

  {
    "match": "(advancement|ban-ip|banlist|ban|blockdata|clear|clone|debug|defaultgamemode|deop|difficulty|effect|enchant|entitydata|execute|fill|function|gamemode|gamerule|give|help|kick|kill|list|locate|me|op|pardon|particle|playsound|publish|recipe|reload|replaceitem|save-all|save-off|save-on|say|scoreboard|seed|setblock|setidletimeout|setworldspawn|spawnpoint|spreadplayers|stats|stop|stopsound|summon|teleport|tellraw|tell|testforblocks|testforblock|testfor|time|title|toggledownfall|tp|trigger|weather|whitelist|worldborder|xp)"
    "name": "entity.name.function.mcfunction"
  }
  {
    "include": "source.json"
  }
]
